RewriteEngine On

# Se for um arquivo ou diretório existente, não redireciona
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tudo o resto vai pro index.php
RewriteRule ^ index.php [QSA,L]
